# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.coffee':
  'Block Comment':
    'prefix': '#*'
    'body': '###*\n * $1\n * @param {$2} $3\n * @return {$4} $5\n ###\n$6'
'.source.json':
  'Key: Val':
    'prefix': '"'
    'body': '"$1": "$2'
'.source.js':
  'Block Comment':
    'prefix': '/*'
    'body': '/**\n * $1\n * @param {$2} $3\n * @callback {$4} $5\n * @return {$6} $7\n*/\n$8'
